@import "variables";
.footer-container {
    background: $black;
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
        padding: 3rem 11.5rem 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 992px) {
        align-items: flex-start;
        justify-content: space-between;
    }
}

.footer-navbar ul {
    margin: 2rem 0;
    padding: 0;
    list-style-type: none;
    @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
    }
}

.footer-navbar li {
    padding: 0.5rem 0;
    @media (min-width: 992px) {
        padding: 0 2rem 0 0;
    }
}

.footer-navbar a {
    font-size: 1rem;
    font-family: $font-alata;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-navbar a::before {
    @media (min-width: 992px) {
        content: "";
        position: absolute;
        width: 0;
        margin: 1.5rem 0.6rem;
        height: 2px;
        background: $white;
        transition: all 0.3s;
    }
}

a:hover::before,
a:active::before {
    width: 1.5%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 992px) {
        align-items: flex-end;
    }
}

.social-links {
    display: flex;
    padding: 1rem 0;
}

.social-links img {
    padding: 0 0.6rem;
    @media (min-width: 992px) {
        padding: 0 0 0 1.2rem;
    }
}