@import "_variables";

/*header {
    background: url("../assets/images/mobile/image-hero.jpg") no-repeat;
    background-size: cover;
}*/

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
        background: pink;
        margin: 1.5rem;
        position: relative;
        z-index: 1;
    }
}

.nav-toggler {
    position: fixed;
    top: 1.2rem;
    right: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
    @media (min-width: 1020px) {
        display: none;
    }
}

.nav-toggler::before {}

.navbar {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    transition: all .3s;
    @media (min-width: 380px) {
        flex-direction: row;
    }
}

.show {
    left: 0;
}

ul {
    list-style-type: none;
}

li {
    padding: 1rem 0;
    @media (min-width: 1020px) {
        display: inline-block;
        margin: 1rem;
    }
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-family: $font-josefin;
    font-weight: $font-400;
    position: relative;
    cursor: pointer;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    margin: -0.3rem 0 0;
    background: rgba(white, 0.3);
    transition: all 0.3s;
}

a:hover::before {
    height: 110%;
}