@import 'variables';
.main-container {
    padding: 5rem 1.5rem 0;
    @media (min-width: 992px) {
        padding: 6rem 11.5rem;
    }
}


/* headings */

h2 {
    font-size: 2.2rem;
    font-family: $font-josefin;
    font-weight: $font-300;
    text-transform: uppercase;
    @media (min-width: 992px) {
        margin: 0 2rem 1rem;
        text-align: center;
    }
}


/* paragraphs */

p {
    font-size: 1.125rem;
    font-family: $font-alata;
    font-weight: $font-400;
    color: $dark-gray;
    line-height: 1.5;
    margin: 1rem 0;
    align-self: center;
    @media (min-width: 992px) {
        margin: 0;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 992px) {
        flex-direction: row;
        position: relative;
    }
}

.mobile-img {
    display: block;
    @media (min-width: 992px) {
        display: none;
    }
}

.desktop-img {
    display: none;
    @media (min-width: 992px) {
        display: block;
        position: relative;
        z-index: -1;
    }
}

.about div:nth-of-type(1) {
    @media (min-width: 992px) {
        flex-basis: 90%;
    }
}

.about div:nth-of-type(2) {
    padding: 3.5rem 1.4rem 0;
    text-align: center;
    @media (min-width: 992px) {
        background: $white;
        position: absolute;
        padding: 0;
        left: 36rem;
        align-self: flex-end;
        padding: 4rem 0 0 3.5rem;
        text-align: start;
    }
}


/* products */

.products {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

.products>h2 {
    text-align: center;
}

.products .creation {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0 0;
    gap: 2rem;
}

.creation div {
    position: relative;
}

.creation div h3 {
    position: absolute;
    top: 4rem;
    left: 1rem;
    font-size: 2rem;
    font-family: $font-josefin;
    font-weight: $font-300;
    color: $white;
    text-transform: uppercase;
}

.creation span {
    display: block;
}