@import 'variables';
.main-container {
    padding: 5rem 1.5rem 0;
    @media (min-width: 992px) {
        padding: 6rem 11.5rem;
    }
}


/* headings */

h2 {
    font-size: 2.2rem;
    font-family: $font-josefin;
    font-weight: $font-300;
    text-transform: uppercase;
    @media (min-width: 992px) {
        margin: 0 0 1rem;
        font-size: 3rem;
    }
}


/* paragraphs */

p {
    font-size: 1.125rem;
    font-family: $font-alata;
    font-weight: $font-400;
    color: $dark-gray;
    line-height: 1.5;
    margin: 1rem 0;
    align-self: center;
    @media (min-width: 992px) {
        margin: 0;
        font-size: 1rem;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 992px) {
        flex-direction: row;
        position: relative;
    }
}

.about div:nth-of-type(2) {
    padding: 3.5rem 1.4rem 0;
    text-align: center;
    @media (min-width: 992px) {
        background: $white;
        position: absolute;
        left: 36rem;
        bottom: 0;
        z-index: 1;
        align-self: flex-end;
        padding: 6rem 0 0 6rem;
        text-align: start;
    }
}


/* products */

.products {
    position: relative;
    margin: 5rem 0;
    @media (min-width: 992px) {
        margin: 8rem 0 0;
    }
}

.products>h2 {
    text-align: center;
    @media (min-width: 992px) {
        text-align: left;
        margin: 0;
        font-size: 3rem;
    }
}

.products .creation {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0;
    gap: 2rem;
    @media (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
    }
}

.creation div {
    position: relative;
}

.creation div h3 {
    position: absolute;
    top: 4rem;
    left: 1rem;
    font-size: 1.7rem;
    font-family: $font-josefin;
    font-weight: $font-300;
    color: $white;
    text-transform: uppercase;
    z-index: 2;
    @media (min-width: 992px) {
        top: 23rem;
        left: 2rem;
    }
}

.creation span {
    display: block;
}

.creation+a {
    font-size: 1rem;
    font-family: $font-alata;
    font-weight: $font-400;
    color: black;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid;
    margin: 0 5rem;
    padding: 1rem 4rem;
    @media (min-width: 992px) {
        position: absolute;
        top: -1rem;
        right: 0;
    }
}

.creation+a:hover {
    background: $black;
    color: $white;
    text-decoration: none;
}